/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {  
  background-color: #F39C12;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #FFF;
  margin:0;
  padding:0
}

h1, h4, h3, p {  
	font-weight: 200;
	color: #FFF;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #F39C12;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
   text-decoration: none !important;
}



